@model Product

<h2> New Product</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label for="Id" class="form-label"></label>
        <input type="number" id="Id" name="Id" class="form-control">
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="Name" class="form-label"></label>
        <input type="text" id="Name" name="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="Price" class="form-label"></label>
        <input type="text" id="Price" name="Price" class="form-control">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="Description" class="form-label"></label>
        <input type="text" id="Description" name="Description" class="form-control">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" class="btn btn-dark">Baxk to list</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial">
}